<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('components/header');%>
  </head>
  <body class="has-fixed-sidenav">
    <%- include('components/navbar');%>
    <main><%- include('pages/main');%></main>
    <%- include('components/footer');%>
    <!---->
    <%- include('components/script');%>
  </body>
</html>
