<header>
  <div class="navbar-fixed">
    <nav class="navbar white">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo grey-text text-darken-4"><%= __(title) %></a>

        <a href="#!" data-target="sidenav-left" class="sidenav-trigger left"
          ><i class="material-icons black-text">menu</i></a
        >
      </div>
    </nav>
  </div>
  <ul id="sidenav-left" class="sidenav sidenav-fixed">
    <li>
      <a href="/" class="logo-container">PdfTools<i class="material-icons left">spa</i></a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold waves-effect">
          <a class="collapsible-header"
            ><%= __("actions.modifications") %><i class="material-icons chevron">chevron_left</i></a
          >
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/join" class="waves-effect"><%= __("actions.modifications.join") %><i class="material-icons">web</i></a>
              </li>
              <li>
                <a href="/split" class="waves-effect"><%= __("actions.modifications.split") %><i class="material-icons">list</i></a>
              </li>
              <li>
                <a href="/reorder" class="waves-effect"
                  ><%= __("actions.modifications.reorder") %><i class="material-icons">dashboard</i></a
                >
              </li>
            </ul>
          </div>
        </li>
        <!--<li class="bold waves-effect">
          <a class="collapsible-header">Export<i class="material-icons chevron">chevron_left</i></a>
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="/" class="waves-effect">To PNG<i class="material-icons">show_chart</i></a>
              </li>
              <li>
                <a href="/" class="waves-effect">To JPEG<i class="material-icons">equalizer</i></a>
              </li>
              <li>
                <a href="/" class="waves-effect"
                  >From PNG<i class="material-icons">multiline_chart</i></a
                >
              </li>
              <li>
                <a href="/" class="waves-effect"
                  >From JPEG<i class="material-icons">pie_chart</i></a
                >
              </li>
            </ul>
          </div>
        </li>-->

  </ul>

</header>
